<div class="card-list-container py-5">
  <div class="contents-title text-center py-3 pb-4">
  <h2 class="text-black-50 font-weight-lighter">本当に退会しますか？</h2>
  </div>
  <div class="card w-50  mx-auto mt-3 shadow p-2 mb-5">
    <div class="col-12 py-3">
      <h5 class="text-center">退会すると会員情報や</h5><br />
      <h5 class="text-center">これまでの購入履歴が閲覧できなくなります。</h5><br />
      <h5 class="text-center">退会する場合は『退会する』をクリックしてください</h5>
    </div>
    <div class="col-10 mx-auto">
      <%= link_to "退会する", deleted_path, method: :patch, "data-confirm" => "本当に退会しますか？", class:"btn btn-danger btn-block py-2 m-3" %>
      <%= link_to "退会しない", mypage_path, class:"btn btn-secondary btn-block py-2 m-3" %>
    </div>
  </div>
</div>
