<div class="container">
  <div class="row">
    <h1>MarketStreet会社概要</h1>
  </div>
  <div class="row">
    <table>
      <tr>
        <td>会社名:</td>
        <td>株式会社○◯</td>
      </tr>
      <tr>
        <td>代表取締役社長:</td>
        <td>山田太郎</td>
      </tr>
      <tr>
        <td>設立:</td>
        <td>2021年1月1日</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr></tr>
    </table>
  </div>
</div>