<div class="position-relative h-25">
  <%= image_tag 'about.jpeg', style: "width:100%" %>
  <div class="img-caption position-absolute text-center">
  </div>
</div>

<div class="container">
  <h1 class="text-center text-black-50 font-weight-lighter py-2 mt-5">Company info</h1>
  <div class="col-8 mx-auto py-5">
    <div class="row">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th class="pl-4">会社概要</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>会社名</td>
            <td>MarketStreet</td>
          </tr>
          <tr>
            <td>代表取締役社長</td>
            <td>山田太郎</td>
          </tr>
          <tr>
            <td>設立</td>
            <td>2021年1月1日</td>
          </tr>
          <tr>
            <td>資本金</td>
            <td>◯◯円</td>
          </tr>
          <tr>
            <td>本店</td>
            <td>◯◯県◯◯市◯◯区◯◯　1-2-3</td>
          </tr>
          <tr>
            <td>売上高</td>
            <td>◯◯円</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>