/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

*, *::before, *::after {
    box-sizing: border-box;
}

.navbar-brand {
    font-family: MS Sans Serif;
}



body , html {
    padding: 0;
    margin: 0;
    height: 100%;
}

.nav-item {
    padding: 18px;
}

.row-eq-height {
    display: flex;
    flex-wrap: wrap;
}

main {
  display: block;
  margin-bottom: 200px;
  z-index: 2;
}

footer {
    height: 60px;
    position: absolute;
    width: 100%;
}

.position-relative{
    position: relative;
}

.position-absolute{
    position: absolute;
}

.text-center{
    text-align: center;
}

.img-caption {
    top: 90%;
    left: 82%;
    right: 0;
    position: absolute;
}

.good{
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 3%;
    left: 6%;

}

.item-title{
    font-family: MS Sans Serif;
}

